name: Selenium Tests with Allure

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Selenium Tests
      run: |
        pytest --alluredir=reports/allure

    - name: Generate Allure HTML Reports
      run: |
        allure generate reports/allure -o reports/allure_reports --clean

    - name: Upload Allure HTML Reports
      uses: actions/upload-artifact@v4
      with:
        name: allure-html-report
        path: reports/allure_reports
